<ul>
    <li>
        <a href="/auth/github">Sign in with Github</a>
    </li>
</ul>
<% articles.each do |article| %>
<table>
<tr>
    <td><%=article["title"] %></td>
</tr>
<tr>
    <td><%=article["body"] %></td>
</tr>
</table>
<% end %>